input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.main {
    border: 2px solid rgb(221, 221, 221);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 35px;
    }

    form {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        width: 300px;
        }

        .main-title {
            color: rgb(78, 78, 78);
            font-size: 26px;
        }

        .main-label {
            color: rgb(78, 78, 78);
            font-size: 16px;
            text-align: left;
            margin-bottom: 3px;
        }

        .main-p {
            color: rgb(78, 78, 78);
            font-size: 12px;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 25px;
        }
        
        .label-sale {
            
        }

        .label-installments {

        }

        .label-mdr {

        }


        .main-input {
            border-radius: 5px;
            border: 1px solid rgb(221, 221, 221);
            height: 30px;
            padding-left: 10px;
        }

        .main-input:hover {
            border: 1px solid #628fc8;
        }

        .input-sale {

        }

        .input-mdr {

        }

        .button-main {
            cursor: pointer;
            border: none;
            height: 30px;
            border-radius: 5px;
            font-weight: bold;
            font-family: Arial, Helvetica;
            background-color: rgb(212, 210, 210);
            margin-top: 12px;
        }

        .button-main:hover {
            background-color: #628fc8;
            color: #fff;
        }

        .error-label {
            text-align: left;
            margin-top: 0px;
        }

        .error {
            color: #ff0000;
            font-size: 12px;
            text-align: left;
        }

@media (min-width:768px) {
    .main {
        display: flex;
        flex-direction: row;
        }
}
