.main-result {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    }

    .title-result {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #8ab1e0;
        width: 250px;
        text-align: left;
        padding-bottom: 8px;
        color: #628fc8;
    }

    .result-p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: left;
        color: #75abee;
    }

    .span-result {
        color: #628fc8;
        font-family: Arial, Helvetica, sans-serif;
    }